h1{
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 100px;
}

.cards-treinos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.container-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}